# Google Drive Root Folder ID
GOOGLE_DRIVE_FOLDER_ID=1fHVllI7jnfsuj8oqmnwcEwow3H1bPpMk

# Google Service Account Credentials (DO NOT COMMIT REAL KEYS TO GIT)
GOOGLE_SERVICE_ACCOUNT_EMAIL=t7-printhub-service@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
